/* NavBar.css */

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

/* Navbar Icons */
.menu-bars {
    font-size: 30px;
    cursor: pointer;
}

.navbar-icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.notification-icon,
.profile-edit-icon {
    font-size: 35px;
    color: white;
    cursor: pointer;
}

/* Meniu profil */
.profile-menu {
    position: absolute;
    top: 60px;
    right: 20px;
    width: 250px;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.profile-info p {
    margin: 5px 0;
    color: #f8f8f8;
    font-size: 14px;
}

.profile-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}


.theme-toggle {
    cursor: pointer;
    font-size: 22px;
    margin-right: 16px;
    transition: transform 0.3s ease;
}

.theme-toggle:hover {
    transform: scale(1.2);
}
