/* GlobalStyles.css */

.menu-button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.menu-button:hover {
    background-color: #0056b3;
}

.main-content {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.page-content {
    margin-top: 20px;
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    height: 100%;
}




.side-menu {
    width: 250px;
    padding: 10px;
}
