/* SideMenu.css */

.menu-container {
    position: fixed;
    top: 100px;
    left: 20px;
    width: 250px;
    background-color: #333333;
    color: #fff;
    height: calc(100vh - 120px);
    border-radius: 10px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #007bff #333;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    border: 1px solid #444444;
    z-index: 1000;
}


/* Scrollbar personalizat */
.menu-container::-webkit-scrollbar {
    width: 8px;
}

.menu-container::-webkit-scrollbar-thumb {
    background: #007bff;
    border-radius: 8px;
}

.menu-container::-webkit-scrollbar-track {
    background: #333;
}

/* Stiluri pentru elementele meniului */
.menu-item {
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 4px;
    font-size: 18px;
    transition: background 0.3s, padding 0.3s;
}

.menu-item a {
    color: #f5f5f5;
    text-decoration: none;
}

.menu-item:hover {
    background-color: #007bff;
    font-weight: bold;
}

/* Submeniuri */
.menu-item-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menu-item-header .icon {
    margin-right: 10px;
}

.menu-item-header .arrow {
    margin-left: auto;
}

.sub-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    animation: slideDown 0.3s ease-in-out;
}

.sub-menu-item {
    display: flex;
    gap: 10px;
    padding: 5px 10px;
    color: #f5f5f5;
    text-decoration: none;
    transition: color 0.3s, background 0.3s;
}

.menu-item.has-submenu:hover {

    background-color: #333333;
}
.sub-menu-item:hover {
    background-color: #007bff;
}




/* Animație pentru deschiderea submeniurilor */
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Stil pentru pictograme */
.icon {
    width: 20px;
    text-align: center;
}


