/*MyTradesPage.css*/

.my-trades-container {
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.my-trades-container h1, h2{
    text-align: center;
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}



