.trade-table-container {
    background: #1e1e1e;
    color: white;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    text-align: center;
    overflow-x: auto;
}

.trade-table {
    min-width: 1200px;
    width: 100%;
    border-collapse: collapse;
}

.trade-table th, .trade-table td {
    padding: 12px;
    border-bottom: 1px solid #444;
    text-align: center;
    white-space: nowrap;
}

.trade-table th:hover, .trade-table td:hover {
    padding: 12px;
    border-bottom: 1px solid #444;
    text-align: center;
    white-space: nowrap;
    color: #f0b90b;
}

.trade-table th {
    background: #2a2a2a;
    color: #f0b90b;
    font-size: 14px;
    position: sticky;
    top: 0;
    z-index: 2;
}

.trade-table th:hover {
    background: #444;
}

.trade-table td:last-child {
    font-weight: bold;
}


.add-trade-btn {
    background: #f0b90b;
    color: black;
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.add-trade-btn:hover {
    background: #d89e00;
}

.trade-table-container::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.trade-table-container::-webkit-scrollbar-track {
    background: #1e1e1e;
}

.trade-table-container::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 5px;
}

.trade-table-container::-webkit-scrollbar-thumb:hover {
    background: #666;
}


.pagination-controls {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.pagination-controls label {
    color: #f0b90b;
    font-weight: bold;
}

.pagination-controls select {
    background: #333;
    color: white;
    border: 1px solid #555;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    width: 60px;
}

.pagination-controls select:focus {
    outline: none;
    border-color: #f0b90b;
}

.pagination-controls .add-trade-btn {
    margin-left: auto;
}


.pagination-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
    font-size: 14px;
}

.pagination-nav button {
    background-color: #f0b90b;
    border: none;
    padding: 8px 14px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.pagination-nav button:disabled {
    background-color: #999;
    cursor: not-allowed;
}

.total-trades {
    color: #f0b90b; 
    font-weight: bold;
    margin-left: 15px;
    font-size: 14px;
}